body {
  padding-top: 1rem;
}

.btn-back {
  background-color: #ff4500;
  padding: 1rem;
  border-radius: 0.5rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.btn-back:hover {
  background-color: #960000;
}

.food-img {
  width: 100%;
  height: auto;
  max-width: 600px;
  margin-inline: auto;
  display: block;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

@media (min-width: 600px) {
  .ingridiients-steps-container {
    display: flex;
    gap: 1rem;
  }
  .ingridiients-steps-container > * {
    flex: 1;
  }
}
